body{
    /* margin: 0; */
     width: 100%;
    /* //height: auto; */ 
    /* direction: row;
    align-items: center;
    justify-content: center; */
    background-color: #FAEBCD;

    padding: 20;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-size: cover;
    min-width: auto;
    min-height: 100vh; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
  
}