/* body{
    margin: 0;
    width: 100%;
    height: auto; 
    background-color: #FAEBCD;

    padding: 20;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-size: cover;
    min-width: auto;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
} */
body{
    margin: auto;
    width: 100%;
    height: auto; 
    background-color: #FAEBCD;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    background-size: cover;
    min-width: auto;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* bago */
/* body{
    margin: 0;
    width: 100%;
    height: auto;
    background-image: url('pages/back1.png'); 
    background-size: cover;
    min-width: auto;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
} */
/* mali to */
/* body {

    display: flex;
    margin: auto;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
} */
/* .center {
    padding: 20;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
} */